extends baseEmail

block content
  p Hi,
  p PING detected that the monitored VPS health endpoint has recovered.
  p
    strong Target:
    |  #{monitorUrl}
  if checkedAt
    p Checked at: #{checkedAt}
  p No further action is required unless you expect an outage.
